<h1>My Tasks</h1>

<form action="{% url 'todos:update_completed' %}" method="post">
{% csrf_token %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if all_categories %}
  <ul>
    {% for category in all_categories %}
      <li>{{ category.category_text }}: {{ category.completed_tasks }} / {{ category.total_tasks }} Complete</li>
      {% if category.task_set.all %}
        <ul>
          {% for task in category.task_set.all %}
            <input type="checkbox" name="task" id="task{{ forloop.counter }}" value="{{ task.id }}" {% if task.completed %}
                checked
                {% endif %} />
            <label for="task{{ forloop.counter }}">{{ task.task_text }}</label><br />
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <p>No categories</p>
{% endif %}
<!--
<input type="submit" value="Update" /> -->
</form>
